* {
	margin: 0;
	padding: 0
}

body {
	background: url(https://i.imgur.com/MGHKqvV.jpg) no-repeat;
	background-size: cover;
	font-family: Raleway, sans-serif;
	color: #fff;
	background-position: center center
}

.wrapper {
	width: 100%;
	height: 100vh;
	position: relative
}

.main {
	position: relative;
	width: 100%;
	height: 100vh
}

.inner-main {
	max-width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.logo {
	margin: 20px 0
}

.logo img {
	max-width: 200px
}

.content h2 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 7px
}

.content p {
	margin: 20px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 15px 0;
	font-size: 20px
}

.contact-detail p {
	margin-bottom: 5px;
	font-size: 13px
}

.contact-detail ul {
	text-align: center;
	margin: 20px 0
}

.contact-detail ul li {
	display: inline-block;
	margin: 0 10px
}

.contact-detail ul li a {
	color: #f2c557
}

@media only screen and (max-width :480px) {
	.inner-main {
		width: 300px
	}
	.content h2 {
		letter-spacing: 1px;
		font-size: 22px
	}
}

